body {
  font-family: arial;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

.whole-page {
  display: flex;
  flex-direction: row;
}

/* heading */
h1 {
  background-color: #EBBAB9;
  color: #035370;
  display: flex;
  font-size: 300%;
  justify-content: center;
  margin: 0;
  padding: 1%;
  text-transform: uppercase;
}

/*  left side of screen*/
aside {
  align-items: center;
  background-color: #035370;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 23%;
}

p {
  color: #FFD3D3;
  display: flex;
  font-size: 130%;
  justify-content: center;
  margin: 4%;
  text-transform: uppercase;
}

.matches-this-round {
  margin-top: 12%;
  text-align: center;
  width: 44%;
}

h2 {
  color: #FFD3D3;
  font-size: 6em;
  margin: 0;
}

.matches-made-container {
  height: 40%;
  width: 90%;
}

.top-row-matched-img,
.bottom-row-matched-img {
  display: flex;
  flex-direction: row;
  height: 35%;
  justify-content: center;
  margin-top: 5%;
  padding: 5% 0;
}

.matched-img {
  background-color: gray;
  height: 100%;
  margin: 0 2%;
  width: 26%;
}

.mike1-matched {
  background-image: url(assets/noGodPleaseNooo.jpg);
  background-size: cover;
  height: 100%;
  margin: 0 2%;
  width: 26%;
}

.mike2-matched {
  background-image: url(assets/prisonMike.jpg);
  background-size: cover;
  height: 100%;
  margin: 0 2%;
  width: 26%;
}

.mike3-matched {
  background-image: url(assets/sexySanta.jpg);
  background-size: cover;
  height: 100%;
  margin: 0 2%;
  width: 26%;
}

.mike4-matched {
  background-image: url(assets/tellMeMore.jpg);
  background-size: cover;
  height: 100%;
  margin: 0 2%;
  width: 26%;
}

.mike5-matched {
  background-image: url(assets/worldsBestBoss.jpg);
  background-size: cover;
  height: 100%;
  margin: 0 2%;
  width: 26%;
}

.top-min-nums {
  display: flex;
  flex-direction: column;
  width: 93%;
}

.winning-time {
  font-size: 0.9em;
}

/* right side of screen */
main {
  height: 100vh;
  width: 100%;
}

.pams-painting {
  background-image: url(assets/pamsPainting.jpg);
  background-size: cover;
  height: 100vh;
}

.flip-container {
  display: inline-flex;
  height: 7em;
  justify-content: space-between;
  margin: 0 5%;
  padding-top: 4%;
  width: 4em;
}

.front-and-back-container {
  display: inline-flex;
  transform-style: preserve-3d;
  transition: 1.5s;
}

.front-and-back-container.flip {
  transform: rotateY(180deg);
}

.card {
  backface-visibility: hidden;
  background-image: url(assets/dunderMiff2.jpg);
  background-size: 100% 7em;
  border: 3px solid #EBBAB9;
  box-shadow: 5px 5px 5px -4px rgba(3, 83, 112, 0.57);
  cursor: pointer;
  height: 7em;
  width: 4em;
  z-index: 2;
}

.card:hover {
  filter: brightness(150%);
}

.mike1-back {
  backface-visibility: hidden;
  background-image: url(assets/noGodPleaseNooo.jpg);
  background-position: center bottom;
  background-size: cover;
  background-size: 100% 7em;
  transform: rotateY(180deg);
  z-index: 2;
}

.mike2-back {
  backface-visibility: hidden;
  background-image: url(assets/prisonMike.jpg);
  background-position: center bottom;
  background-size: cover;
  background-size: 100% 7em;
  transform: rotateY(180deg);
  z-index: 2;
}

.mike3-back {
  backface-visibility: hidden;
  background-image: url(assets/sexySanta.jpg);
  background-position: center bottom;
  background-size: cover;
  background-size: 100% 7em;
  transform: rotateY(180deg);
  z-index: 2;
}

.mike4-back {
  backface-visibility: hidden;
  background-image: url(assets/tellMeMore.jpg);
  background-position: center bottom;
  background-size: cover;
  background-size: 100% 7em;
  transform: rotateY(180deg);
  z-index: 2;
}

.mike5-back {
  backface-visibility: hidden;
  background-image: url(assets/worldsBestBoss.jpg);
  background-position: center bottom;
  background-size: cover;
  background-size: 100% 7em;
  transform: rotateY(180deg);
  z-index: 2;
}

.front-and-back-container0 {
  padding: 0;
  transform: rotate(330deg);
}

.front-and-back-container1 {
  padding: 0;
  transform: rotate(15deg);
}

.front-and-back-container2 {
  padding: 0;
  transform: rotate(120deg);
}

.front-and-back-container3 {
  padding: 0;
  transform: rotate(220deg);
}

.front-and-back-container4 {
  padding: 0;
  transform: rotate(80deg);
}

.front-and-back-container5 {
  transform: rotate(329deg);
}

.front-and-back-container6 {
  transform: rotate(50deg);
}

.front-and-back-container7 {
  transform: rotate(55deg);
}

.front-and-back-container8 {
  transform: rotate(245deg);
}

.front-and-back-container9 {
  transform: rotate(15deg);
}

.hidden {
  display: none;
}

.winner-page {
  height: 100vh;
}

.winner-page-img {
  background-image: url(assets/dwight.jpg);
  background-size: cover;
  height: 100vh;
}

h4 {
  color: #FFF;
  font-size: 6em;
  margin: 0 0 6% 0;
  padding-top: 12%;
  text-align: center;
}

.all-matches-found {
  color: #FFF;
  font-size: 2.5em;
  margin-bottom: 0;
  text-align: center;
  text-transform: none;
}

.total-time-completed {
  color: #FFF;
  font-size: 3em;
  margin: 0;
  text-align: center;
}

.winner-pg-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.win-pg-btns {
  background-color: #FFF;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 2em;
  height: 2.5em;
  margin: 5% 3% 0 3%;
  outline: none;
  width: 25%;
}

.total-min {
  margin-right: 2%;
}

.win-pg-btns:hover {
  background-color: #000;
  border: solid 3px #FFF;
  color: #FFF;
}
