body {
  font-family: arial;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

.whole-page {
  display: flex;
  flex-direction: row;
}

/* heading */
h1 {
  background-color: #EBBAB9;
  color: #035370;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1%;
  text-transform: uppercase;
}

/*  left side of screen*/
aside {
  align-items: center;
  background-color: #035370;
  display: flex;
  flex-direction: column;
  height: 91vh;
  width: 23%;
}

p {
  color: #FFD3D3;
  font-size: 1.2em;
  margin: 4%;
  text-transform: uppercase;
}

.matches-this-round {
  margin-top: 12%;
  text-align: center;
  width: 44%;
}

h2 {
  color: #FFD3D3;
  font-size: 6em;
  margin: 0;
}

.matches-made-container {
  height: 80%;
  width: 90%;
}

.top-row-matched-img,
.bottom-row-matched-img {
  display: flex;
  flex-direction: row;
  height: 40%;
  justify-content: center;
  margin-top: 5%;
}

.matched-img {
  background-color: gray;
  height: 100%;
  margin: 0 2%;
  width: 26%;
}

.third-highest-time {
  margin-bottom: 15%;
}

/* right side of screen */
main {
  background-color: #C7D5E0;
  height: 91vh;
  width: 77%;
  /* flex-wrap: wrap; */
}

.cards-row-1-container,
.cards-row-2-container,
.cards-row-3-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}

.cards-row-1-container {
  margin: 3% 0 1.5%;
}

.cards-row-3-container {
  margin-top: 0;
}

.card {
  background-color: #FEFFFE;
  border: 3px solid #035370;
  box-shadow: 5px 5px 5px -4px rgba(3, 83, 112, 0.57);
  color: #035370;
  display: flex;
  height: 10em;
  justify-content: center;
  margin: 0;
  width: 13%;
}

.card1,
.card4,
.card8 {
  margin: 0 2% 2% 0;
}

.card5,
.card6 {
  margin: 0 7% 2% 6%;
}

.card1 {
  transform: rotate(330deg);
}

.card2 {
  margin: 0 9% 0 14%;
  transform: rotate(15deg);
}

.card3 {
  transform: rotate(320deg);
}

.card4 {
  transform: rotate(298deg);
}

.card5 {
  transform: rotate(16deg);
}

.card6 {
  transform: rotate(329deg);
}

.card7 {
  transform: rotate(50deg);
}

.card8 {
  transform: rotate(55deg);
}

.card9 {
  margin: 2% 8% 0 10%;
  transform: rotate(345deg);
}

.card10 {
  margin: 2% 0 2% 0;
  transform: rotate(5deg);
}

h3 {
  font-size: 3em;
  text-transform: uppercase;
}

.winner-page {
  background-image: url(assets/dwight.jpg);
  background-size: cover;
  background-blend-mode: lighten;
  height: 79vh;
}

h4 {
  text-align: center;
  font-size: 6em;
  margin: 12% 0 0;
}

.all-matches-found {
  text-align: center;
  font-size: 2.5em;
  color: black;
  margin-bottom: 0;
  text-transform: none;
}

.total-time-completed {
  text-align: center;
  font-size: 3em;
  color: black;
  margin: 0;
}

.winner-pg-btn-cantainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.win-pg-btns {
  width: 25%;
  height: 2.5em;
  font-size: 2em;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  justify-content: center;
  margin: 5% 3% 0 3%;
}
